/*---------------Desktop Stylyng-----------*/

@media (min-width: 1101px) {
  /*---------------Global Styling-------------*/

  body {
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font: 400 15px "Spartan", sans-serif;
    margin: 0;
    overflow: hidden;
  }

  /*---------------Content Stylying-----------*/

  main {
    position: relative;
    height: 100%;
  }

  .content {
    position: absolute;
    top: 55.3%;
    left: 49.5%;
    transform: translate(-50%, -49.5%);
    width: 1110px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    /* border: 1px solid; */
  }

  /*---------------Top Content-----------*/

  .container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 240px;
  }

  /*---------------Title-----------*/

  .intro {
    width: 450px;
    line-height: 25px;
    padding-top: 5px;
  }

  .users-amount {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 47px;
    font-weight: 800;
    width: 400px;
    margin: 0;
    color: hsl(300, 43%, 22%);
  }

  .company-services {
    font-weight: 500;
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    letter-spacing: -0.5px;
  }

  /*---------------Ratings-----------*/

  .rating-element {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    border-radius: 15px;
    width: 500px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 13px;
  }

  .rating-element p {
    margin-left: 30px;
    color: hsl(300, 43%, 22%);
  }

  .stars {
    display: inline;
    margin-left: 4px;
    width: 18px;
  }

  .ratings {
    padding: 10px 0 0 0;
  }

  .report-guru {
    margin-left: 9%;
  }

  .BestTech {
    margin-left: 18%;
  }

  /*---------------Customers reviews-----------*/

  .comments {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
    width: 100%;
    height: 53%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 30px;
  }

  .cards {
    background-color: #502050;
    width: 290px;
    height: 214px;
    padding: 10px 30px;
    border-radius: 7.5px;
    color: hsl(300, 24%, 96%);
    font-weight: 400;
  }

  .card2 {
    margin-top: 15px;
  }

  .card3 {
    margin-top: 30px;
  }

  .profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95px;
  }

  .card1 .profile-info {
    margin: 4px 0 0 0px;
  }

  .prof-pic {
    float: left;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  .card2 .prof-pic {
    margin-top: 3px;
  }

  .card3 .prof-pic {
    margin-top: 3px;
  }

  .status {
    color: #ee68a4;
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px;
    opacity: 80%;
  }

  .social-info {
    margin-left: 22px;
    margin-top: 10px;
  }

  .name {
    font-weight: bold;
    width: max-content;
    margin: 5px 0;
    font-size: 13px;
    letter-spacing: 0px;
  }

  .card2 .name {
    margin-top: 11px;
  }

  .card3 .name {
    margin-top: 11px;
  }

  .comment {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0px;
    margin: 0;
    font-weight: 400;
  }

  .card2 .comment {
    margin-top: 5px;
  }

  .card3 .comment {
    margin-top: 5px;
  }
}

/*--------------Other Devices Styling--------------*/

@media (max-width: 1100px) {
  html {
    overflow: scroll;
  }

  body {
    background-image: url(images/bg-pattern-top-mobile.svg),
      url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    font-family: "Spartan", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 370px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .users-amount {
    font-family: "Spartan", sans-serif;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 33px;
    width: 80%;
    margin: 0;
    color: hsl(300, 43%, 22%);
  }

  .company-services {
    font-weight: 500;
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    line-height: 26px;
    letter-spacing: -0.5pt;
    padding: 5px 26px 0;
  }

  .ratings {
    margin-top: 25px;
    /* margin-right: 55px; */
  }

  .rating-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 15px;
    border-radius: 15px;
    width: 350px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 13px;
  }

  .stars {
    display: inline;
    margin-left: 5px;
    width: 17px;
  }

  .comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 780px;
    margin: 40px 0 80px 0;
  }

  .cards {
    background-color: #502050;
    width: 268.25px;
    height: 230px;
    padding: 10px 30px;
    border-radius: 7.5px;
    color: hsl(300, 24%, 96%);
    font-weight: 400;
  }

  .profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95px;
  }

  .card1 .profile-info {
    margin: 4px 0 0 0px;
  }

  .prof-pic {
    float: left;
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  .card2 .prof-pic {
    margin-top: 3px;
  }

  .card3 .prof-pic {
    margin-top: 3px;
  }

  .status {
    color: #ee68a4;
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px;
    opacity: 80%;
  }

  .social-info {
    margin-left: 22px;
    margin-top: 10px;
  }

  .name {
    font-weight: bold;
    width: max-content;
    margin: 5px 0;
    font-size: 13px;
    letter-spacing: 0px;
  }

  .card2 .name {
    margin-top: 11px;
  }

  .card3 .name {
    margin-top: 11px;
  }

  .comment {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0px;
    margin: 0;
    font-weight: 400;
    text-align: left;
  }

  .card2 .comment {
    margin-top: 5px;
  }

  .card3 .comment {
    margin-top: 5px;
  }
}
